body {
  
}

.hidden { display:none;}

.button_normal {

   border:0px white;
    background-color:white;
    width:150px;
    height:30px;
    font-family:"Times New Roman",Serif;
    font-size:100%;
    text-align:left;
    direction:ltr;
  	
}
.button_style1 {
    width:100px;
    -webkit-border-radius: 15px;
}  
.button_normal.moved {
    background-color:#FFCCFF;
    }

.button_normal.nouvelle {
    font-weight:bold;
    }
.button_normal.clicked {
    color:red;
    background-color:#FFCCFF;
    }
.button_control {
    border: #abcdf3 1px solid;
	background-color: #f7fafe;
	cursor: pointer;/*光标移动上去产生的属性*/
	padding: 0px 3px 0px 3px;
	color:  #2399FB;
    -moz-border-radius-topleft:4px;-moz- border- radius-topright:4px;-moz-border-radius-bottomleft:4px;-moz-border- radius- bottomright:4px;

}

.div_normal {
    width:200px;
    height:30px;
    border:0px white;
    position:relative;
    margin-top:5px;
}

.div_normal.moved {
    background-color:#FFCCFF;
}

.div_normal.clicked {
    background-color:#FFCCFF;
    border:2px red;
}
.Freezing 
   { 

   position:relative ; 
   table-layout:fixed;
   top:expression(this.offsetParent.scrollTop);   
   z-index: 10;
   } 

.Freezing th{text-overflow:ellipsis;overflow:hidden;white-space: nowrap;padding:2px;}

.Tiaozheng 
{
   position:relative;
   color:blue;
   /*display:none;*/
   margin-left:-10000em;
   width:120px;
   

}

























